/** @format */

:root {
  --accent-color: #4d5ae5;
  --text-color: #2e2f42;
  --paragraph-color: #434455;
  --text-color: #4d5ae5;
  --button-bg-color: #f4f4fd;
  --link-color: #2e2f42;
  --logo-color: #4d5ae5;
}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*----------------HEADER LOGO---------------*/
.header-menu {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
}

.header-container {
  display: flex;
}
.here .header-logo-link link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  position: relative;
}

.header-logo-link span {
  color: #2e2f42;
  font-size: 18px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo-link {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-link-item {
  padding: 24px 0;
  color: #404bbf;
  text-decoration: none;
}

.carend {
  position: relative;
  color: #404bbf;
}

.carend::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.link-menu .header-link-item:nth-child(1) a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------addres meny-----------------*/

.list-address-menu link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-address-menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-addres-list li:last-child {
  margin-right: 0;
}

.header-addres-list {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  align-items: center;
}

.header-addres {
  font-style: normal;
  align-items: center;
  margin-left: auto;
}

.list-address-menu :focus,
.list-address-menu :hover {
  color: #404bbf;
}

.list-address-menu a {
  color: #434455;
}

.list-address-menu {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------Meny Nav-------------------*/
.header-navigation .list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.header-navigation .list li:last-child {
  margin-right: 0;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.link-menu {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  align-items: center;
  padding: 24px 0;
}

.link:hover,
.link-menu:focus {
  color: #404bbf;
}

.link-menu {
  text-decoration: none;
  color: var(--link-color);
}
.link-menu {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link-menu:hover,
.link-menu:focus {
  color: #404bbf;
}

.link-menu {
  text-decoration: none;
}

.link-menu:hover,
.link-menu:focus {
  color: #404bbf;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*------------------ SECTION 1 CAP-----------------*/
.here {
  background: var(--navyblue, #2e2f42);
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.here-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.here-btn {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.here-btn:hover,
.here-btn:focus {
  background-color: #404bbf;
}

/*------------------- SECTION 2 ---------------------*/
.icon-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.icon-container-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icon-container-svg svg {
  width: 64px;
  height: 64px;
  fill: #4d5ae5;
}

.icon-container-svg:hover svg {
  fill: #31d0aa;
}

/*------------------- SECTION 2 FEATURES---------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding: 120px 0;
  background: #fff;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.features-item-text {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*------------------ SECTION 3 TEAM-------------------------*/

.made-list {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
}

.made-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
}

.employee-info {
  padding: 32px 0;
  text-align: center;
}

.made {
  padding: 120px 0;
  background: var(--cloud, #f4f4fd);
}

.made-name {
  margin-bottom: 8px;
}

.made-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.made-text {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.made-name {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
/*----------SOCIAL----------*/
.social-media-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 10px;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--social-icon-color, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
  fill: var(--social-icon-fill, #f4f4fd);
}

/*--------------SECTION 5---------------------------*/
.customers-section {
  padding: 120px 0;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.customer-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #8e8f99;
}

.customer-link:hover,
.customer-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customer-icon {
  fill: currentColor;
}

/*--------------FOOTER DIV 1---------------------------*/
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer {
  background: var(--navyblue, #2e2f42);
  padding: 100px 0;
}
.footer-logo span {
  color: #f4f4fd;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-logo-link span {
  color: #f4f4fd;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}

.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  position: relative;
}

/*-----------------------FOOTER SOCIAL DIV 2------------------*/

.social-media-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-media-footer {
  display: flex;
  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-med-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
  fill: #f4f4fd;
}

.social-med-link:hover,
.social-med-link:focus {
  background-color: #31d0aa;
}

.social-media-icon:focus {
  background-color: #4d5ae5;
}
/*------------Subscribe FOOTER-----*/
.text-form {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.custom-form-class {
  display: flex;
  gap: 24px;
}

.custom-email-class {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.placeholder {
  color: #ffffff;
}

.custom-button-class {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.custom-icon-class {
  margin-left: 16px;
}
/*-----------------------MODERN ------------------*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.mobal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.container-modal-text {
  margin-bottom: 8px;
}

.custom-label-class {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.container-input-icon {
  position: relative;
}

.custom-input-class {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
}

.custom-svg-class {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.custom-input-class:focus .custom-svg-class use {
  fill: #4d5ae5;
}

.container-modal-comment {
  margin-bottom: 16px;
}

.custom-comment-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-corol 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.container-input-checkbox {
  margin-bottom: 24px;
}
.custom-label-privacy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-span-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.custom-label-privacy .custom-span-privacy {
  background-color: transparent;
}
.custom-label-privacy input[type="checkbox"]:checked .custom-span-privacy {
  background-color: var(--custom-checked-background-color);
}

.custom-label-privacy .custom-span-svg {
  fill: #f4f4f4;
}

.custom-label-privacy
  input[type="checkbox"]:checked
  .custom-span-privacy
  .custom-span-svg {
  fill: var(--custom-checked-icon-color);
}

.class-custom-text {
  color: #4d5ae5;
}

.custom-class-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 90px;
}

.custom-class-button:hover .custom-class-button:focus {
  background-color: #404bbf;
  border: none;
}

.custom-class-button:hover
  .custom-svg-class
  use
  .custom-class-button:focus
  .custom-svg-class
  use {
  fill: #ffffff;
}

/*-----------------------PORTFOLIO MENU------------------*/
.link-menu {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.carend::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------------------- 4 PORTFOLIO MAIN CAP SECTION ------------------*/
.section-menu {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-cards {
  display: flex;
  column-gap: 24px;
  list-style: none;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
}

.name-item-list {
  width: calc((100% - 48px) / 3);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-item-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .cards-photo-text {
  transform: translateY(0%);
}
.portfolio-link:focus .cards-photo-text {
  transform: translateY(0%);
}

.container-cards-photo {
  position: relative;
  overflow: hidden;
}

.cards-photo-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.name-item-list:hover .overlay {
  transform: translateY(0%);
}

.cards-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.cards {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards:focus,
.cards:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-menu-item {
  margin-right: 24px;
  display: block;
  background: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-menu-item:last-child {
  margin-right: 0;
}

.list-cap {
  justify-content: center;
  display: flex;
  margin-bottom: 72px;
}
.main-section {
  background: #fff;
}

.section-menu-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.section-menu-link:hover,
.section-menu-link:focus {
  border: 1px solid transparent;
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #4d5ae5;
  background-color: #f4f4fd;
  text-align: center;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.name-photo {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.name {
  background: #fff;
}

.name-text-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color, #434455);
}
